<h1>Ride Connection Web Applications</h1>
<ul>
  <li>
    <a href="/service/users/sign_in">Service Database</a>
  </li>
  <li>
    <a href="/ridepilot">RidePilot</a>
  </li>
  <li>
    <a href="/wiseguide">WiseGuide</a>
  </li>
  <li>
    <a href="/waverly">Waverly</a>
  </li>
  <li>
    <a href="/RCAVL.apk">RidePilot Android App</a>
  </li>
</ul>
